# Entornos virtuales
.venv/
.gradio
.venv
env/
.env
__pycache__/
*.pyc
*.pyo

# Variables de entorno (NO subir la API key)
.env
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
/tmp/

# Datos pesados y modelos
*.pth
*.pt
*.h5
*.pkl
data/
datasets/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
